<div class="container">
  <div class="col-sm-6">
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
      <div class="message-card">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{message.user.username}", class: "avatar avatar-message" %>
        <span><small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small></span>
        <p>
          <%= emojify message.content %>
        </p>
        </i>
      </div>
    </div>
  </div>
</div>
