<% @articles.each do |article| %>
  <%= link_to site_article_path(@site, article) do %>
    <div class="card-product">
      <i class="fas fa-book-open"></i>
      <div class="card-product-infos">
        <%= article.title %>
      </div>
    </div>
  <% end %>
<% end %>
