<span class="banner">
  <%= cl_image_tag @site.photos.first.key, height: 200, width: '100%' %>
</span>
<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-8 col-sm-6 col-xs-4">
      <h3><%= @article.title %></h3>
      <p><%= @article.body %></p>
      <%= link_to site_articles_path(@site), class: 'button' do %>
        <i class="fas fa-chevron-left back-btn"></i>
      <% end %>
    </div>
  </div>
</div>
