<div class="container-form">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h2>Add a new video</h2>
      <%= render 'form' %>
      <%= link_to dashboard_path, class: 'button' do %>
        <i class="fas fa-chevron-left back-btn"></i>
      <% end %>
    </div>
  </div>
</div>
