<div class="info-window text-align-center">
  <% conversation = Conversation.where(participants: user )%>
  <% if conversation.empty? %>

    <p><%= link_to "Talk to #{user.username}", user_conversations_path(user), method: :post %></p>
  <% else %>
    <p><%= link_to "Talk to #{user.username}", conversation_path(conversation.to_a)%></p>
  <% end %>
</div>
