<div class="info-window text-align-center">
  <% conversation = Conversation.where(participants: user )%>
  <%= link_to conversation_path(conversation.to_a) do %>
    <p><%= "Talk to #{user.username}" %></p>
  <% end %>
</div>