<div class="container">
  <%= link_to  "Nearby sites", sites_path, class: 'btn btn-info' %>
  <div id="map"
    style="width: 100%; height: 100vh;"
    data-markers="<%= @site_markers.to_json %>"
    data-usermarkers="<%= @user_markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

