<div class="container mt-3">
  <h1> My Uploads</h1>
  <% @my_uploads.each do |content| %>
    <div class="card-uploads">
      <%= image_tag "https://source.unsplash.com/random" %>
      <div class="card-uploads-infos">
        <h2><%= "#{content.title}" %></h2>
        <p><%= "Description:" %></p> 
        <p><%= "Category: #{content.category}" %></p>
      </div>
    </div>
  <% end %>
</div>  