.card-article {
  overflow: hidden;
  height: 90px;
  width: 100%;
  background: $lightbeige;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px 0;
  border-radius: 4px;
  border-left: 3px solid $lightbeige;
  position: relative;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  h2 {
    margin-top: 0;
    font-size: 15px;
  }
  p {
    font-size: 10px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-article-infos {
    color: $green;
    padding: 0 10px;
    // position: relative;
    .card-article-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card-article-likes {
        display: flex;
        position: absolute;
        right: 5px;
        bottom: 0px;
        i {
          color: $orange;
        }
      }
      .card-article-avatar {
        width: 30px;
        border-radius: 50%;
        position: absolute;
        right: 6px;
        top: 4px;
        border: 1px solid $darkgray;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }
    }
  }
}

.book-icon {
  font-size: 36px;
  text-align: center;
  color:$green;
  border-bottom: 1px solid $green;
  font-weight: bolder;
  padding-bottom: 20px;
}


