.btn-green {
  padding: 8px 16px;
  border: 2px solid $green;
  border-radius: 16px;
  color: $green;
  background: rgba(255,247,236, 0.5);
    &:hover{
      font-weight: bold;
      transition: all 0.5s ease-in-out;
      text-decoration: none;
      color: $green;
    }
}
.btn-orange {
  padding: 8px 16px;
  border: 2px solid $orange;
  border-radius: 16px;
  color: $orange;
  background: rgba(255,247,236, 0.5);
  font-weight: bolder;
    &:hover{
      transition: all 0.5s ease-in-out;
      font-weight: bold;
      text-decoration: none;
      color: $orange;
      opacity: 1;
    }
}

.btn-dashboard {
  padding: 8px 16px;
  border: 2px solid $green;
  border-radius: 16px;
  color: $green;
    &:hover{
      font-weight: bold;
      transition: all 0.5s ease-in-out;
      text-decoration: none;
      color: $orange;
      border: 2px solid $orange;
    }
}
.btn-col {
  color: $darkgray;
  font-size: 16px;
  &:hover{
    color: $darkgray;
    font-weight: bolder;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
}

.fa-mouse-pointer{
  font-size: 13px;
}
