.btn-green {
  padding: 8px 16px;
  border: 2px solid $green;
  border-radius: 16px;
  color: $green;
  background: rgba(255,247,236, 0.5);
    &:hover{
      font-weight: bold;
      transition: ease 0.5s;
      text-decoration: none;
      color: $green;
    }
}
.btn-orange {
  padding: 8px 16px;
  border: 2px solid $orange;
  border-radius: 16px;
  color: $orange;
  background: rgba(255,247,236, 0.5);
  font-weight: bolder;
    &:hover{
      transition: ease 0.5s;
      font-weight: bold;
      text-decoration: none;
      color: $orange;
      opacity: 1;
    }
}
