.carousel-inner {
  .carousel-likes {
    position: relative;
    z-index: 10;
    top: -42px;
    left: 5px;
    a {
    color: $orange;
    }
    span {
      color: $beige;
    }
  }
}

.carousel-photo {
  margin: 20px 0;
  background-size: contain;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
