.card-uploads {
  overflow: hidden;
  height: 400;
  background: #F8F2EC;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px 0;
  border-radius: 8px;
}

.card-uploads img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-uploads h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-uploads p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
}

.card-uploads .card-uploads-infos {
  padding: 16px;
}

.card-uploads-infos {
  color: $darkgray;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


