.card-site-container {
  margin: 20px 0;
  background-color: $lightbeige;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  border-radius: 4px;
  img {
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 180px;
  }
  &:hover{
    img{
      height: 220px;
      transition: all 1s ease-in-out;
    }
  }
  p, span{
    color: $darkgray;
  }
}
.videos-container {
  margin: 0 20px;
}

.container-form {
  margin: 90px auto;
  width: 60%;
  justify-content: center;
}
