.conversation {
  background: white;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $gray-200;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 280px);
}
#new_message {
  padding: 1rem;
  border-top: 1px solid $gray-200;
  position: fixed;
  width: 90vw;
  bottom: 80px;

  .form-group {
    margin-bottom: 0;
  }
}

.conv-info{
  text-align: center;
  border-bottom: 1px solid $green;
  p{
    color: $green;
    font-size: 24px;
  }
}

.conversation-margin{
  margin-top: 70px;
}
