.nearby-btn {
  position: absolute;
  z-index: 0;
  top: 130px;
  font-weight: bolder;
    &:hover {
      opacity: 0.7;
      transition: ease 0.5s;
    }
}

.geo-btn {
  position: absolute;
  z-index: 0;
  top: 130px;
  right: 20px;
  font-weight: bolder;
      &:hover {
      opacity: 0.7;
      transition: ease 0.5s;
    }
}
.address-btn {
  position: absolute;
  z-index: 0;
  top: 80px;
  right:20px;
  font-weight: bolder;
      &:hover {
      opacity: 0.7;
      transition: ease 0.5s;
    }
}
.filter-modal {
  position: absolute;
  z-index: 0;
  top: 80px;
}
