.nearby-btn {
  position: absolute;
  z-index: 100;
  top: 120px;
}

.geo-btn {
  position: absolute;
  z-index: 100;
  top: 120px;
  right: 20px;
}
.address-btn {
  position: absolute;
  z-index: 100;
  top: 70px;
  right:20px;
}
