.photo-info{
    font-size: 36px;
    font-weight: bolder;
    color: $green;
    text-align: center;
    border-bottom: 1px solid $green;
    padding-bottom: 15px;
}
.photo-bottom-info {
  color:$green;
  border-bottom: 1px solid $green;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
}
