.card-video {
  background: #F8F2EC;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border-radius: 4px;
  width: 100vw;
  iframe {
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .card-video-infos {
    display: flex;
    .card-video-description {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .card-video-infos-extra{
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .card-video-likes {
        display: flex;
        position: absolute;
        bottom: 0;
        right: -3px;
        // font-size: 10px;
        i {
          color: $orange;
        }
      }
      .card-video-avatar {
        width: 30px;
        border-radius: 50%;
        position: relative;
        top:-15px;

      }
    }
  }
}
