.btn-green {
  padding: 8px 16px;
  border: 2px solid $green;
  border-radius: 16px;
  color: $green;
  background: transparent;
    &:hover{
      opacity: 0.7;
    }
}
.btn-orange {
  padding: 8px 16px;
  border: 2px solid $orange;
  border-radius: 16px;
  color: $orange;
  background: transparent;
    &:hover{
      font-weight: bold;
    }
}
