// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "trix/dist/trix";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// TYPOGRAPHY
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h3, h4 {
  font-size: 24px;
  color: $green;
}

h5 {
  font-size: 16px;
  color: $green;
}

p {
  font-size: 13px;
}
