<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();">
  <div class="container">
    <% @articles.each do |article| %>
      <%= article.title %>
  </div>
  <% end %>
</div>
