<% @audios.each do |audio| %>
  <div class="card-audio">
<!--   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
 -->
    <div class="card-audio-infos">
      <%= audio.title %>
    </div>
  </div>
<% end %>

