<div class="card-audious">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-audio-infos">
    <div>
    </div>
    <h2 class=""></h2>
  </div>
</div>
<%= Test %>
<% @videos.each do |video| %>
  <%= video %>
<% end %>
